
{% url href_url target_pk as href %}

<!-- button -->
{% if btn == "light" %}
<button role="button" class="btn btn-default husky-button-light"  style="width: 150px;" data-toggle="modal" data-target="#deleteItemModal{{ target_pk }}" id="deleteButton">Delete Item</button>
{% elif btn == "heavy" %}
<button role="button" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#deleteItemModal{{ target_pk }}" id="deleteButton">Delete</button>
{% endif %}

<!-- Modal -->
<div id="deleteItemModal{{ target_pk }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

     <!-- Modal content-->
        <div class="modal-content" style="border: 1px solid #FFCD00;">
            <div class="modal-header" style="background-color:black; border-bottom: 1px solid #FFCD00;"> <!-- style="justify-content:center;" this centers title in modal-->
                <h4 class="" style="color:#ffcd00;">Delete {{ title }}</h4>
                <button type="button" class="close" style="color:#ffcd00;" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body husky-modal">
                <div class="col-lg-6">
                    <h5>Are you sure you want to delete this item?</h5>
                </div>
            </div>
            <div class="modal-footer husky-modal">
            <a type="button" class="btn btn-primary husky-button-light" href="{{ href }}">Delete</a>
            <button type="button" class="btn btn-secondary husky-button-dark" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
