{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if failed_search %}
    <!--{% -->
{% endif %}

{% if item_list %}
{% for item in item_list %}
<div class="row" style="margin: 0;">
    <div class="col-md-4 align-middle text-center">

        <div class="row">
            {% if item.item_picture is None %}
            <img class="img-end" src="{% static 'mainsite/images/imagenotfound.png' %}" class="img-fluid" alt="" style="height: 500px; border: 5px solid black; border-radius: 15px; object-fit: contain;">
            {% else %}
 
            {% comment %} https://getbootstrap.com/docs/4.0/components/carousel/ {% endcomment %}
            <div id="pic_carousel" class="carousel slide" data-interval="false">
                
            <style>
            
                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                width: 40px;
                height: 40px;
                }
            
                .carousel-control-next,
                .carousel-control-prev {
                    background-color: black;
                    overflow: hidden;
                    border-radius: 10px;
                    height: 80px;
                    margin: auto 0;
                }

                .carousel-indicators {
                    background-color: #000000e6;
                    overflow: hidden;
                    height: 8px;
                    width: fit-content;
                    border-top: groove;
                    border-top-color: black;
                    margin: 0 auto;
                }

                .carousel-indicators li {
                    height: 4px;
                }

                .w-100 {
                    max-width: 100%;
                    width: 500px!important;
                }
            
            </style>

            {% if item.pictures.count == 1 %}
                <style>
                    .carousel-control-prev {
                        display:block;
                        visibility:hidden;
                    }

                    .carousel-control-next {
                        display:block;
                        visibility:hidden;
                    }
                </style>
            {% endif %}

              <ol class="carousel-indicators">
              {% for picEl in item.pictures.all %}
                <li data-target="#pic_carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %} ></li>
              {% endfor %}
              </ol>

              <div class="carousel-inner">
              {% for picEl in item.pictures.all %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}" >
                    <img class="d-block w-100" src="{% if picEl is not None and picEl.picture is not None %}{{picEl.picture.url}}{% else %}{% static 'mainsite/images/imagenotfound.png' %}{% endif %}" class="img-fluid" alt="" style="height: 500px; border: 5px solid black; border-radius: 15px; object-fit: contain;">
                </div>
              {% endfor %}
              </div>

              <a class="carousel-control-prev" href="#pic_carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#pic_carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            {% endif %}
        </div>

        <div class="row"><div class="col">
            <br>
            <div class="row">
            {% if request.user.username|stringformat:"s" == item.username|stringformat:"s" %}
                <div class="col-md-6">
                    <a role="button" class="btn btn-default husky-button-light"  style="width: 150px;" id="updatedButton" href="/catalog/{{item.id}}/update/">Update Post</a>
                </div>
                <div class="col-md-6">
                    {% include "catalog/delete_button.html" with target_pk=item.pk title=item.item_title href_url='accountant:deleteItem' btn="light" only %}
                </div>
            {% else %}
                <div class="col-md-4">
                    <form action="/catalog/{{item.id}}/report" method="GET" onsubmit="reportButton.disabled = true" id="reportForm">
                        <input type="submit" class="btn btn-default husky-button-light" style="width: 150px;" name="reportButton" value="Report Post">
                    </form>
                </div>
            {% endif %}
            </div>

            {% comment %} NOTE: idk wth is up with Bootstrap's column height
                        seemingly not updating when the image loads in
                        (without this hack, stuff overflowed off the bottom)
             {% endcomment %}

            {% comment %} \/ may need changing if ArchivedType changes {% endcomment %}
            {% if item.archivedType == "HD" %}
            <div class="row" style="overflow: auto;">
                <h4> Warning: item is hidden from other users until a moderator reviews it. </h4>
            </div>
            {% elif item.archivedType == "RE" %}
            <div class="row" style="overflow: visible;">
                <h4> Warning: item was marked in violation of our policies and is hidden from other users. </h4>
            </div>
            {% endif %}
        </div>
    </div></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="page-header" style="word-wrap: break-word;">{{item.item_title}}</h1>
            </div>
            <div class="col-lg-3">
                <h1><span class="label label-default">${{item.item_price}}</span></h1>
            </div>
        </div>
        <hr style="border: 2px solid black;"> <br>
        <div style="word-wrap: break-word;">
            <h6> {{item.item_description}} </h6>
        </div>
        <br> <br>
        <div class="form-group" style="position: relative; bottom: 0px; width: 100%;">

            {% if messages %}
                {% for message in messages %}
                    {% if message.message == "Please enter a message!" or message.message|slice:":27" in 'You can only send 5 messages per day!' or message.message|slice:":27" in 'You can only report 5 posts per day!'  %}
                        <div class="alert" style="background-color:#cc3333">
                            <strong>{{ message }}</strong> </br> Message failed to send!
                    {% elif message.message == "Please wait one minute between emails!" or message.message == "Please wait one minute between reporting posts!"  %}
                        <div class="alert" style="background-color:#cc3333">
                            <strong>{{ message }}</strong>
                    {% else %}
                        <div class="alert" style="background-color:#33cc33">
                        {% if message.message == "Post successfully reported!" %}
                            <strong>{{ message }}</strong>
                        {% else %}
                            <strong>{{ message }}</strong> </br> Message sent successfully!
                        {% endif %}
                    {% endif %}
                        </div>
                {% endfor %}
            {% endif %}

            {% if request.user.username|stringformat:"s" == item.username|stringformat:"s" %}
            <p><i>This is your own item; this page shows how it appears to others.</i></p>
            <div class="row">
            {% else %}
            <h6>Message {{item.first_name}}:</h6>
            <textarea class="form-control" rows="5" id="message" placeholder="Ask the owner something..." name="message" form="emailform" maxlength="1000" style="border: 1px solid black;"></textarea>
            <div class="row">
                <div class="col-lg-4">
                    <form action="/catalog/{{item.id}}/email" method="get" onsubmit="sendButton.disabled = true" id="emailform">
                        <input type="submit" class="btn btn-default husky-button-light" name="sendButton" style="min-width: 100px;" value="Send">
                    </form>
                </div>
            {% endif %}

                <div class="col-lg-4">
                    <h6> Owner: {{item.first_name}} </h6>
                </div>
                <div class="col-lg-4">
                    <h6> {{item.date_added}} </h6>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
