{% extends 'base.html' %}
{% load static %}
{% block content %}



{% if item_list %}
{% for item in item_list %}
<div class="row">
    <div class="col-md-4 col-sm-4">
        <img class="card-img-top img-responsive" src="{{item.item_picture.url}}" alt="" style="height: auto; width: 70%;">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="page-header">{{item.item_title}}</h1>
            </div>
            <div class="col-lg-3>">
                <h1><span class="label label-default">${{item.item_price}}</span></h1>
            </div>
        </div>
        <hr> <br>
        <h6> {{item.item_description}} </h6>
        <br> <br> <br> <br> <br>
        <div class="form-group" style="position: relative; bottom: 0px; width: 100%;">
            <h6>Message {{item.username}}:</h6>
            <textarea class="form-control" rows="5" id="message" placeholder="Ask the owner something..."></textarea>
            <div class="row">
                <div class="col-lg-4">
                    <button type="button" class="btn btn-default" style="background-color: black; color: white; width: 100px;">Send</button>
                </div>
                <div class="col-lg-4">
                    <h6> Owner: {{item.username}} </h6>
                </div>
                <div class="col-lg-4">
                    <h6> {{item.date_added}} </h6>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
