{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">On the Hunt!</h1>
            <div class="list-group">
                {% for filter in filters %}
                    <a href='#' class='list-group-item'>{{ filter.category_name }}</a>
                {% endfor %}
            </div>
         </div>
         <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
            {% if item_list %}
		        {% for item in item_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
			                <a href="#"><img class="product-icon" src="{{ item.item_picture.url }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
									<a href="\catalog\{{item.id}}">{{ item.item_title }}</a>	
                                </h4>
			                    <h5>${{ item.item_price }}</h5>
			                    <p class="card-text">{{ item.item_description }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ item.username }} : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
		        {% endfor %}
	        {% endif %}
            </div>
        <!-- /.row -->
        </div>
    <!-- /.col-lg-9 -->
    </div>
<!-- /.row -->
</div>
{% endblock %}
