{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Does not display the above-line default validation errors for the forms
    Instead we display our custom error message -->
    <style>
    .errorlist {
        display: none;
    }
    </style>

    <br>

    {% static 'mainsite/images/imagenotfound.png' as default_image_target %}
    {% include "catalog/update_actual_content.html" with default_image_target=default_image_target %}


    <p>TESTING 1, 2, 3</p>
    <div class="container" id="blahblah">

    </div>
    <p>ENDTEST AYOOO</p>


{% endblock %}
