
{% extends 'base.html' %}
{% block content %}

<!-- Does not display the above-line default validation errors for the forms
Instead we display our custom error message -->
<style>
.errorlist {
    display: none;
}
</style>

<br>

  <!-----------------------------------
  Catalog Form
  ----------------------------------->
   <div role="tabpanel" class="tab-pane active" id="ctlg">
     <div class='row justify-content-center'>
         <div class='col-lg-5' style='margin: 10px;'>
            <!-- Catalog Form Errors -->

             {% if too_many_items %}
                <div class="alert alert-danger" role="alert">
                  <strong>You have reached the limit of 10 active items!<br></strong>
                 </div>
              {% endif  %}

            {% if not too_many_items%}
               <form role="form" method="post" enctype="multipart/form-data" style='border: 2xp;' onsubmit="ItemInputSubmit()">
                   {% csrf_token %}

                   {% with form=catalog_form %}
                       {% include "profanity_check/errors.html" %}
                   {% endwith %}

                   <input type="hidden" name="submission_type" value="ctlg">

                   {{ catalog_form.as_p}}
                   <button type="submit" class="btn btn-primary husky-button-light" id="btnRealButton">Submit</button>
               </form>

               <!-- General Form Formatting -->
                {% for field in catalog_form %}
                  <script type="text/javascript">
                    document.getElementById("{{field.id_for_label}}").classList.add('form-control');
                  </script>
                {% endfor %}

                <script type="text/javascript">
                  document.getElementById("id_item_picture").classList.add('file-field');
                  document.getElementById("id_item_picture").style.backgroundColor = 'transparent';
                  document.getElementById("id_item_picture").style.border = 'transparent';
                  document.getElementById("id_item_picture").style.color = '#a6b1b7';
                  document.getElementById("id_item_picture").style.padding = '0px';
                </script>

                <!-- Highlight Fields -->
               {% if catalog_form.errors %}
                  {% for field in catalog_form %}
                      {% if field.errors %}
                        <script type="text/javascript">
                          document.getElementById("{{field.id_for_label}}").classList.add('is-invalid');
                        </script>
                      {% else %}
                        <script type="text/javascript">
                          document.getElementById("{{field.id_for_label}}").classList.add('is-valid');
                        </script>
                      {% endif %}
                  {% endfor %}
               {% endif %}
            {% endif %}
         </div>
     </div>
   </div>

<!-- Used to prevent multiple submits -->
<script type="text/javascript">
  function ItemInputSubmit() {
    document.getElementById("btnRealButton").disabled = true;
  }
</script>

{% endblock %}
