# Ignore configuration files that may contain sensitive information
my.cnf
mainsite/*/__pycache__/
mainsite/*/*/__pycache__/
mainsite/mainsite/local_settings.py
.DS_Store


# Database Stuff

mainsite/huskydb
mainsite/uploads/account/profilepics/*
