#loginPicture {
    background-image: url("images\mtu_logo_round.png");
}

body {
    background: green;
}

.top-links a, .my-account a, .logout a{
  color: #FFCD00;
  padding-left: 1rem;
}

.product-icon {
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    padding-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
color: #bfbfbf;
}
label{
  color: #bfbfbf;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #1c1c21;
  border-color: #1c1c21;
}
.nav-tabs{
  border-color: transparent;
}
.nav-tabs .nav-link:hover{
  border-color: #1c1c21;
}
.card{
  background-color: #1c1c21;
}
.card.text{
  color: #1c1c21;
}
