#loginPicture {
    background-image: url("images\mtu_logo_round.png");
}

:root {
  --main-bg-color: #000000;
  --main-txt-color: #bfbfbf;
  --main-border-color: #FFCD00;
}
body {
    background: green;
}

.top-links a, .my-account a, .logout a{
  color: #FFCD00;
  padding-left: 1rem;
}

.product-icon {
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    padding-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
color: var(--main-txt-color);
}
label{
  color: var(--main-txt-color);
}
th {
  font-weight: 400;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: var(--main-bg-color);
  border-color: var(--main-border-color);
  border-radius: 0rem;
}
.nav-tabs{
  border-color: transparent;
}
.nav-tabs .nav-link:hover{
  border-color: var(--main-border-color);
  border-radius: 0rem;
}

.husky-button-dark, .husky-button-light:hover {
  color: var(--main-border-color);
  background-color: var(--main-bg-color);
  border-color: var(--main-border-color);
}


.husky-button-light, .husky-button-dark:hover {
  color: var(--main-bg-color);
  background-color: var(--main-border-color);
  border-color: var(--main-bg-color);
}

.husky-card {
  border-radius: calc(.25rem - 1px);
  border: 1px solid var(--main-border-color);
  width: 90%;
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 5px;
}

.husky-card-foot {
  background-color: #1C1C21;
  margin: 10px;
}
/* .card{
  background-color: #1c1c21;
} */
.card.text{
  color: #1c1c21;
}

.husky-modal{
  background-color: #1C1C21;
  border: none;
}
