#loginPicture {
    background-image: url("../images/mtu_logo_round.png");
}

:root {
  --mtu-yellow: #ffcd00;
  --black: #000000;
  --dark: #1c1c21;
  --white: #ffffff;
  --main-sidebarBackground-color: var(--black);
  --main-topbarBackground-color: var(--black);
  --main-pg-bg-color: var(--dark);
  --main-pg-divider-color: #333333;
  --main-modal-bg-color: var(--dark);
  --main-btn-bg-color: var(--black);
  --main-border-color: var(--mtu-yellow);
  --main-catalogName-color: var(--mtu-yellow);
  --main-title-color:var(--mtu-yellow);
  --main-itemTitle-color: var(--white);
  --main-txt-color: #bfbfbf;
  --main-tab-txt-color: var(--mtu-yellow);
  --main-error-color: #ff0000;
  --main-disclaimer-color: rgba(255,255,255,0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-sidebarBackground-color: #2e2e2e;
    --main-topbarBackground-color: #232323;
    --main-pg-bg-color: var(--white);
    --main-pg-divider-color: #eeeeee;
    --main-modal-bg-color: var(--white);
    --main-btn-bg-color: #f7f7f7;
    --main-border-color: #7a7a7a;
    --main-itemTitle-color: var(--black);
    --main-txt-color: #404040;
    --main-tab-txt-color: var(--dark);
    --main-disclaimer-color: var(--main-txt-color);
  }
}

body {
    background: var(--main-pg-bg-color);
}

p {
  color: var(--main-itemTitle-color);
}

.top-links a, .my-account a, .logout a{
  color: var(--mtu-yellow);
  padding-left: 1rem;
}

.product-icon {
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    padding-top: 10px;
}
#catalogName {
  color: var(--main-catalogName-color);
}
#itemTitle {
  color: var(--main-itemTitle-color);
}
#title {
    color: var(--main-title-color);
}
.text-overflow {
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}

.navbar {
  background-color: var(--main-topbarBackground-color);
}

.navbar-toggler:focus {
  outline: 1px solid #2d2d2d;
}

.filters-mobile {
  display: none;
  color: var(--mtu-yellow);
  width: 0px;
  height: 0px;
  margin-bottom: 8px;
}

.search-mobile {
  width: calc(100% - 87px);
  margin-right: 10px;
}

.filter-dropdown {
  width: 100%;
}

.pgtitle-mobile {
  display: none;
  text-align: center;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
.catalog-item-wrap {
  margin: 5px 0px 5px 0px;
  padding: 0px;
}
.pgtitle-mobile #title {
  color: var(--main-tab-txt-color);
}
@media screen and (max-width: 642px) {
  #sidebar {
    visibility: hidden;
  }
  .filters-mobile {
    width: unset;
    height: unset;
    display: unset;
  }
  .pgtitle-mobile {
    display: unset;
  }
  .top-links a, .my-account a, .logout a{
    padding-left: 0.6rem;
  }

  .ride-modal {
    margin: 40px;
  }

  .navbar-brand {
    margin-right: 0.5rem;
  }
  .catalog-item-wrap {
    flex-basis: unset;
  }
}

.main-split {
  flex: 0 0 265px;
}

#sidebar{
  background-color: var(--main-sidebarBackground-color);
  text-align: center;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0px;
  padding-top: 50px;
  overflow: scroll;
  z-index: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
color: var(--main-txt-color);
}
label{
  color: var(--main-txt-color);
}
th {
  font-weight: 400;
}
.nav-link {
  color: var(--main-tab-txt-color);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: var(--main-btn-bg-color);
  border-color: var(--main-border-color);
  border-radius: 0rem;
  color: var(--main-tab-txt-color);
}
.nav-tabs{
  border-color: transparent;
}
.nav-tabs .nav-link:hover{
  color: var(--main-tab-txt-color);
  border-color: var(--main-border-color);
  border-radius: 0rem;
}

.husky-button-dark, .husky-button-light:hover {
  color: var(--main-border-color);
  background-color: var(--main-btn-bg-color);
  border-color: var(--main-border-color);
}

.row_center {
  justify-content: center !important;
}

.pic_placeholder {
  border-radius: 12px !important;
}

.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}

.husky-button-light, .husky-button-dark:hover {
  color: var(--main-btn-bg-color);
  background-color: var(--main-border-color);
  border-color: var(--main-btn-bg-color);
}
.modal-conent{
  background-color: var(--dark);
}
.account-card{
  border-radius: calc(.25rem - 1px);
  border: 1px solid var(--main-border-color);
  width: 90%;
  background-color: var(--main-btn-bg-color);
  margin: auto;
  padding: 5px;
}
.husky-card {
  border-radius: calc(.25rem - 1px);
  border: 1px solid var(--main-border-color);
  width: 90%;
  background-color: var(--main-btn-bg-color);
  margin: auto;
  padding: 5px;
}

.card-footer {
  background-color: var(--main-sidebarBackground-color);
}
/* .card{
  background-color: var(--dark);
} */
.card.text{
  color: #1c1c21;
}

.husky-modal{
  background-color: var(--main-modal-bg-color);
  border: none;
}

.rona-disabled {
    position: relative;
}

.rona-disabled-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    opacity: 40%;
    background-color: var(--black);
}

:not(.link) > .rona-disabled-overlay {
    background-image: url("/static/mainsite/images/rona.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body:not(.covid-warning-disabled) .rona-disabled.link {
    color: #808080;
}

.covid-warning-disabled .rona-disabled-overlay {
    display: none;
}

.disclaimer {
    width: 100%;
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
    padding: 0 16px;
    position: relative;
    bottom: 0;
    z-index: 1;
}
.disclaimer a {
    color: var(--mtu-yellow);
    opacity: 90%;
}
@media (prefers-color-scheme: light) {
  .disclaimer a {
    color: #007bff;
  }
}
.disclaimer p {
    color: var(--main-disclaimer-color);
} 