{% extends 'base.html' %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}

    <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
      <div class="row justify-content-center align-end">

        <table>
          {{ form.as_table }}
        </table>

      </div>
    </div>


    <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">

      <input type="submit" value="Submit">

    </div>

  </form>
{% endblock %}
