{% extends 'base.html' %}

{% block content %}

<!-- <h1> {{ account.username }} </h1>  <!---->

<form action="{% url 'accountant:edit' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}


{% if form.errors %}
    <!-- Profanity, handled separately so they're all together and have a button -->
    {% if form.errors.as_data|profane_filter %}
        <div class="alert alert-danger" role="alert">
            Some of the text you've submitted is being marked as profane. Flagged words:<br>
            {% for field in form %}
                {% if form.errors.as_data|profane_filter|get_item:field.name %}
                    <strong>{{ field.label }}:&nbsp;</strong>
                    {% for error in form.errors.as_data|profane_filter|get_item:field.name %} {% for mess in error %}
                        {{ mess }}&nbsp;
                    {% endfor %} {% endfor %}
                    <br>
                {% endif %}
            {% endfor %}
            If you think our profanity checker made a mistake, click here to submit anyway (this will also flag for moderator review):
            <button>YUh</button>

        </div>
    {% endif %}

    <!-- All the remaining errors, handled as in other pages: -->
    {% if form.errors.as_data|normal_filter %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if form.errors.as_data|normal_filter|get_item:field.name is not None %}

                    <strong>{{ field.label }}:</strong><br>
                    {% for error in form.errors.as_data|normal_filter|get_item:field.name %} {% for mess in error %}
                        {{ mess|striptags }}<br>
                    {% endfor %} {% endfor %}

                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

  <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
    <div class="row justify-content-center align-end">
       <table>
        {% for field in form %}
            <tr><th>{{ field.label_tag }}</th><td>{{ field }}</td></tr>
        {% endfor %}
      </table>

      <br>
    </div>
  </div>
  <br>
  <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
    <input type="submit" value="Save Changes" class="btn btn-outline-warning husky-button-light">
  </div>

</form>

<script type="text/javascript">
  {% for field in form %}
    {% if field.id_for_label != "id_picture" %}
      document.getElementById("{{field.id_for_label}}").classList.add('form-control');
      document.getElementById("{{field.id_for_label}}").classList.add('form-control-sm');
      document.getElementById("{{field.id_for_label}}").style.margin = '5px';
    {% endif %}
  {% endfor %}
  document.getElementById("picture_id").style.color = "#ACBABD";
</script>

<script type="text/javascript">
{% if form.errors %}
    {% for field in form %}
        document.getElementById("{{field.id_for_label}}").classList.add('{% if field.errors %}is-{% endif %}invalid');
    {% endfor %}
{% endif %}
</script>


{% endblock %}
