{% extends 'base.html' %}

{% block content %}

<h1> {{ account.username }} </h1>

<form action="{% url 'accountant:edit' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

  <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
    <div class="row justify-content-center align-end">
       <table> <!---->
        {{ form.as_table }}
      </table>

      <br>
    </div>
  </div>
  <br>
  <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
    <input type="submit" value="Save Changes">
  </div>

</form>

{% endblock %}
