{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class='col*-lg-auto'>
    <h1>Developer Settings</h1>

    <h3>REST API</h3>

    <div class="row">
      <div class="col">
        <a href="/accountant/developer/token/generate" class="btn {{ current_token|yesno:"btn-danger,btn-primary"}}">{{ current_token|yesno:"Regenerate Token,Generate Token"}}</a>
      </div>

      {% if current_token %}
        <div class="col*-lg-auto my-auto">
          <code>{{current_token}}</code>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
