{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-2 mb-5">
    <div class='col*-lg-auto'>
      <img style="width: 150px; height:150px; border-radius: 50%; border: 2px solid black;" src="{{defaultPicture}}" alt="Profile Picture">
    </div>
    <div class='col-lg-auto'>
      <h1 class="text-center"style="color: #bfbfbf;">{{request.user.first_name}} {{request.user.last_name}}</h1>
      <h2 class="text-center"style="color: #bfbfbf;">{{request.user.email}}</h2>
    </div>
    <div class="row align-items-end">
    <div class="col-lg-auto">
      <a href="{% url 'accountant:edit' %}" method="get" class="btn btn-warning">Edit Account</a>
    </div>
  </div>
</div>

{% if item_list %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="text-center"style="color: #bfbfbf;">Items Currently Listed</h1>
  </div>
</div>
{% else %}
<div class="row justify-content-center" style="margin-bottom: 32px;">
  <div class="col">
    <h1 class="text-center"style="color: #bfbfbf;">No items listed</h1>
    <div class="text-center">
      <a class="btn btn-warning" href="{% url 'selling:index' %}">Click Here to Get Started!</a>
    </div>
  </div>
</div>

{% endif %}

  <div class="row justify-content-center">
    <div class="col" align="center" style="position: static;">
        <div class="row justify-content-center">
            {% if item_list %}
            {% for item in item_list %}
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                <div class="card"  style="border: 2px solid black;background-color: #1c1c21;;">
                    <img class="product-icon" style="height:100px;" src="{{ item.item_picture.url }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="color: black;">
                            <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #bfbfbf; line-height: normal;">
                                {{ item.item_title }}
                            </div>
                        </h4>

                        <!--
                        <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            <p class="card-text">{{ item.item_description }}</p>
                        </div>
                    -->
                </div>
                <div class="card-footer" style="background-color: black;"> <!--black-->
                    <a role="button" href="\catalog\{{item.id}}" class="btn btn-outline-warning btn-block ">View</a>
                    <button role="button" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#deleteItemModal{{item.pk}}">Delete</button>
                </div>

                <!-- Modal -->
                <div id="deleteItemModal{{item.pk}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                     <!-- Modal content-->
                        <div class="modal-content" style="border: 1px solid #FFCD00;">
                            <div class="modal-header" style="background-color:black; border-bottom: 1px solid #FFCD00;"> <!-- style="justify-content:center;" this centers title in modal-->
                                <h4 class="" style="color:#ffcd00;">Delete {{ item.item_title }}</h4>
                                <button type="button" class="close" style="color:#ffcd00;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body husky-modal">
                                <div class="col-lg-6">
                                    <h5>Are you sure you want to delete this item?</h5>
                                </div>
                            </div>
                            <div class="modal-footer husky-modal">
                            <a type="button" class="btn btn-primary husky-button-light" href="/accountant/{{ item.pk }}">Delete</a>
                            <button type="button" class="btn btn-secondary husky-button-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}
</div>
{% if ride_list %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="text-center"style="color: #bfbfbf;">Rides Currently Listed</h1>
  </div>
</div>
<div class="row justify-content-center">
{% else %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="text-center"style="color: #bfbfbf;">No rides found</h1>
    <div class="text-center">
      <a class="btn btn-warning" href="{% url 'selling:index' %}?ride">Click Here to Get Started!</a>
    </div>
  </div>
</div>
{% endif %}
        {% if ride_list %}
        {% for ride in ride_list %}
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card"  style="border: 2px solid black;background-color: #1c1c21;">
                <!-- <a href="\catalog\{{item.id}}"><img class="product-icon" style="height:100px;" src="{{ item.item_picture.url }}" alt=""> -->
                <div class="card-body">
                    <h4 class="card-title" style="color: black;">
                        <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #bfbfbf; line-height: normal;">
                            {{ ride.destination_city }}
                        </div>
                    </h4>
                </div>
                <div class="card-footer" style="background-color: black;"> <!--black-->
                   <!--  <a role="button" href="\catalog\{{item.id}}" class="btn btn-outline-warning btn-block ">View</a> -->
                    <button role="button" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#deleteRideModal{{ride.pk}}">Delete</button>
                </div>

                 <!-- Modal -->
                <div id="deleteRideModal{{ride.pk}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                     <!-- Modal content-->
                        <div class="modal-content" style="border: 1px solid #FFCD00;">
                            <div class="modal-header" style="background-color:black; border-bottom: 1px solid #FFCD00;"> <!-- style="justify-content:center;" this centers title in modal-->
                                <h4 class="" style="color:#ffcd00;">Delete Ride to {{ ride.destination_city }}</h4>
                                <button type="button" class="close" style="color:#ffcd00;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body husky-modal">
                                <div class="col-lg-6">
                                    <h5>Are you sure you want to delete this ride?</h5>
                                </div>
                            </div>
                            <div class="modal-footer husky-modal">
                            <a type="button" class="btn btn-primary husky-button-light" href="/accountant/ride/{{ ride.pk }}">Delete</a>
                            <button type="button" class="btn btn-secondary husky-button-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
        {% endif %}

    </div>
  </div>
</div>
<!-- /.row -->
<!-- /.col-lg-9 -->

{% endblock %}
