{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-2 mb-5">
    <div class='col*-lg-auto'>
      <img style="width: 150px; height:150px; border-radius: 50%; border: 2px solid black;" src="{{defaultPicture}}" alt="Profile Picture">
    </div>
    <div class='col-lg-auto'>
      <h1 class="text-center">{{request.user.first_name}} {{request.user.last_name}}</h1>
      <h2 class="text-center">{{request.user.email}}</h2>
    </div>
    <div class="row align-items-end">
    <div class="col-lg-auto">
      <a href="{% url 'accountant:edit' %}" method="get" class="btn btn-warning">Edit Account</a>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col">
    <h1 class="text-center">Items Currently Listed</h1>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col" align="center" style="position: static;">
        <div class="row justify-content-center">
            {% if item_list %}
            {% for item in item_list %}
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card"  style="border: 2px solid black;">
                    <img class="product-icon" style="height:100px;" src="{{ item.item_picture.url }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="color: black;">
                            <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: black;">
                                {{ item.item_title }}
                            </div>
                        </h4>

                        <!--
                        <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            <p class="card-text">{{ item.item_description }}</p>
                        </div>
                    -->
                </div>
                <div class="card-footer" style="background-color: black;"> <!--black-->
                    <a role="button" href="\catalog\{{item.id}}" class="btn btn-outline-warning btn-block ">View</a>
                    <button role="button" class="btn btn-outline-warning btn-block" onclick="deleteItemConfirmation({{item.id}}, 'item')">Delete</button>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}

        {% if ride_list %}
        {% for ride in ride_list %}
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card"  style="border: 2px solid black;">
                <!-- <a href="\catalog\{{item.id}}"><img class="product-icon" style="height:100px;" src="{{ item.item_picture.url }}" alt=""> -->
                <div class="card-body">
                    <h4 class="card-title" style="color: black;">
                        <div style="width: auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: black; line-height: normal;">
                            {{ ride.destination_city }}
                        </div>
                    </h4>
                </div>
                <div class="card-footer" style="background-color: black;"> <!--black-->
                   <!--  <a role="button" href="\catalog\{{item.id}}" class="btn btn-outline-warning btn-block ">View</a> -->
                    <button role="button" class="btn btn-outline-warning btn-block" onclick="deleteItemConfirmation({{ride.id}}, 'ride')">Delete</button>
                </div>
            </div>
        </div>


        {% endfor %}
        {% endif %}

    </div>
  </div>
</div>
<!-- /.row -->
<!-- /.col-lg-9 -->

<!-- Delete confirmation -->
<script type="text/javascript">
    function deleteItemConfirmation(id, type) {
        if (type == 'ride') {
          userConfirmed = confirm("Are you sure you want to remove this ride?");
        } else {
          userConfirmed = confirm("Are you sure you want to remove this item?");
        }
        
        if (userConfirmed && type=='item') {
            window.location.href = "/accountant/" + id
        } else if (userConfirmed && type=='ride') {
          window.location.href = "/accountant/ride/" + id
        }
    }
</script>

{% endblock %}
