
{% extends 'base.html' %}
{% block content %}

<!-- Does not display the above-line default validation errors for the forms
Instead we display our custom error message -->
<style>
.errorlist {
    display: none;
}
</style>

<!-- Show ride tab if ride errors exist or it should load the ride form-->
{% if ride_form.errors or request.get_full_path == "/selling/?ride"%}
  <body onload="showRides()"></body>
{% endif %}

<!-- Nav tabs -->
<div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#ctlg" role="tab" data-toggle="tab" id="MarketplaceButton">Marketplace</a></li>
    <li role="presentation" class="nav-item rona-disabled"><a class="nav-link" href="#ride" role="tab" data-toggle="tab" id="RidesharingButton" >Ridesharing</a></li>
  </ul>
</div>
<br>

<!-- Tab contents -->
<div class="tab-content">

  <!-----------------------------------
  Catalog Form
  ----------------------------------->
   <div role="tabpanel" class="tab-pane active" id="ctlg">
     <div class='row justify-content-center'>
         <div class='col-lg-5' style='margin: 10px;'>
            <!-- Catalog Form Errors -->
             {% if catalog_form.errors %}
                 <div class="alert alert-danger" role="alert">
                      {% for field in catalog_form %}
                        {% if field.errors %}
                          <strong>{{ field.label }}: {{ field.errors|striptags }}<br></strong>
                        {% endif %}
                      {% endfor %}
                 </div>
             {% endif %}
             {% if too_many_items %}
                <div class="alert alert-danger" role="alert">
                  <strong>You have reached the limit of 10 active items!<br></strong>
                 </div>
              {% endif  %}

            {% if not too_many_items%}
               <form role="form" method="post" enctype="multipart/form-data" style='border: 2xp;'>
                   {% csrf_token %}
                   <input type="hidden" name="submission_type" value="ctlg">

                   {{ catalog_form.as_p}}
                   <button type="submit" onclick="ItemInput()" class="btn btn-primary husky-button-light" id="btnRealButton">Submit</button>
               </form>

               <!-- General Form Formatting -->
                {% for field in catalog_form %}
                  <script type="text/javascript">
                    document.getElementById("{{field.id_for_label}}").classList.add('form-control');
                  </script>
                {% endfor %}

                <script type="text/javascript">
                  document.getElementById("id_item_picture").classList.add('file-field');
                  document.getElementById("id_item_picture").style.backgroundColor = 'transparent';
                  document.getElementById("id_item_picture").style.border = 'transparent';
                  document.getElementById("id_item_picture").style.color = '#a6b1b7';
                  document.getElementById("id_item_picture").style.padding = '0px';
                </script>

                <!-- Highlight Fields -->
               {% if catalog_form.errors %}
                  {% for field in catalog_form %}
                      {% if field.errors %}
                        <script type="text/javascript">
                          document.getElementById("{{field.id_for_label}}").classList.add('is-invalid');
                        </script>
                      {% else %}
                        <script type="text/javascript">
                          document.getElementById("{{field.id_for_label}}").classList.add('is-valid');
                        </script>
                      {% endif %}
                  {% endfor %}
               {% endif %}
            {% endif %}
         </div>
     </div>
   </div>

   <!-----------------------------------
   Ridesharing Form
   ----------------------------------->
   <div role="tabpanel" class="tab-pane" id="ride"><div class='rona-disabled'>
     <form action="" method="post">
       {% csrf_token %}
       <input type="hidden" name="submission_type" value="ride">
       <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">

        <!-- Ride Form Errors -->
        {% if ride_form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for field in ride_form %}
            {% if field.errors %}
              <strong>{{ field.label }}: {{ field.errors|striptags }}<br></strong>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if too_many_rides %}
          <div class="alert alert-danger" role="alert">
            <strong>You have reached the limit of 4 active rides!<br></strong>
          </div>
        {% endif  %}

        {% if not too_many_rides %}
           <div class="row justify-content-center">
             <div class="col-lg-5">
                 <table>
                   {{ ride_form.as_table }}
                 </table>
             </div>
             <div class="col-lg-5">
                 <div id="mapid" name="mapid" style="height: 300px; width=100%;" ></div>
             </div>
           </div>
         </div>
         <div class="col-lg-12 col-md-9 col-sm-8" align="center" style="position: static;">
            <button type="submit" onclick="RideInput()" class="btn btn-primary husky-button-light" id="btnRealButtonRide" onclick="RideInput()">Submit</button>
         </div>
       </form>

       <!-- General Form Formatting -->
          {% for field in ride_form %}
            <script type="text/javascript">
              document.getElementById("{{field.id_for_label}}").classList.add('form-control');
            </script>
          {% endfor %}

        <!-- Highlight Fields -->
          {% if ride_form.errors %}
            {% for field in ride_form %}
              {% if field.errors %}
                <script type="text/javascript">
                  document.getElementById("{{field.id_for_label}}").classList.add('is-invalid');
                </script>
              {% else %}
                <script type="text/javascript">
                  document.getElementById("{{field.id_for_label}}").classList.add('is-valid');
                </script>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
   </div> </div>


<!-- Used to prevent multiple submits -->
<script type="text/javascript">
  function ItemInput() {
      document.getElementById("btnRealButton").disabled = true;
      document.getElementById("btnRealButton").form.submit();

  }
  function RideInput() {
      document.getElementById("btnRealButtonRide").disabled = true;
      document.getElementById("btnRealButtonRide").form.submit();
  }
</script>

<script type="text/javascript">
  function showRides() {
    // reset any url modifications
    window.history.replaceState({id: "selling"}, "Selling", "/selling/");

    // Move to ride page
    $('[href="#ride"]').tab('show');
  }
</script>

<script type="text/javascript">

    var access_token = 'pk.eyJ1IjoiY3NjaHdhIiwiYSI6ImNrNjZxdmdsYTE5MGUzbG84Z3N1dTUzOTcifQ.DKfzMNPM0XvkkwJ-nLQDHg';

    // Create the map object for each ticket
    let mymap = L.map("mapid", { renderer: L.svg({ padding: 2 }) } );
    let tileLayuer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        accessToken: access_token
    }); // Note for longer-term changes: to limit requests, this should really by on request and/or cache results
    tileLayuer.addTo(mymap);

    mymap.setView([43.597778, -84.7675], 6);

    var mymap_route = null;

    function updateMap() {
        let start_city = document.getElementById('id_start_city').value.trim();
        let start_state = document.getElementById('id_start_state').value.trim();
        let start_zipcode = document.getElementById('id_start_zipcode').value.trim();

        let destination_city = document.getElementById('id_destination_city').value.trim();
        let destination_state = document.getElementById('id_destination_state').value.trim();
        let destination_zipcode = document.getElementById('id_destination_zipcode').value.trim();

        let start_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
        + encodeURIComponent(start_city.trim()) + "%20"
        + encodeURIComponent(start_state.trim()) + "%20"
        + encodeURIComponent(start_zipcode.trim()) + "%20"
        + ".json?access_token="
        + access_token;

        let starting_coord;

        let start_req = new XMLHttpRequest();
        start_req.open('GET', start_url, true);
        start_req.onload = function() {
          let start_coord = (JSON.parse(start_req.response))["features"][0]["center"];
            start_coord = [start_coord[1], start_coord[0]];
            starting_coord = start_coord;
        };
        start_req.send();

        let locate_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
        + encodeURIComponent(destination_city.trim()) + "%20"
        + encodeURIComponent(destination_state.trim()) + "%20"
        + encodeURIComponent(destination_zipcode.trim()) + "%20"
        + ".json?access_token="
        + access_token;

        let locate_req = new XMLHttpRequest();
        locate_req.open('GET', locate_url, true);
        locate_req.onload = function() {
            // let starting_coord = [ 47.117222, -88.5625 ];
            let ending_coord = (JSON.parse(locate_req.response))["features"][0]["center"];
            ending_coord = [ending_coord[1], ending_coord[0]];

            // Request the route from Mapbox servers
            let route_url = "https://api.mapbox.com/directions/v5/mapbox/driving/"
            + starting_coord[1] + "," + starting_coord[0] + ";"
            + ending_coord[1] + "," + ending_coord[0]
            + "?geometries=geojson&access_token="
            + access_token;

            let route_req = new XMLHttpRequest();
            route_req.open('GET', route_url, true);
            route_req.onload = function() {
                let json = JSON.parse(route_req.response);
                let data = json.routes[0];
                let route = data.geometry.coordinates;

                let geojsonFeature = {
                    "type": "Feature",
                    "properties": {
                        "name": "Ridesharing trip"
                    },
                    "geometry": {
                      type: 'LineString',
                      coordinates: route
                    }
                }

                if(!(mymap_route == null)) {
                    mymap_route.removeFrom(mymap);
                }
                mymap_route = L.geoJSON(geojsonFeature, {
                    style: {
                        color: 'red',
                        weight: 4
                    }
                }).addTo(mymap);
            };
            route_req.send();
        };
        locate_req.send();
    };

    // Alternate options: consider using on_blur, on_keyup

    document.getElementById("id_start_city").onchange = updateMap;
    document.getElementById("id_start_state").onchange = updateMap;
    document.getElementById("id_start_zipcode").onchange = updateMap;
    document.getElementById("id_destination_city").onchange = updateMap;
    document.getElementById("id_destination_state").onchange = updateMap;
    document.getElementById("id_destination_zipcode").onchange = updateMap;

    $('a[data-toggle="tab"]').on("shown.bs.tab", function() {
        mymap.invalidateSize();
    });

</script>

 </div>

{% endblock %}
