{% extends 'base.html' %}

{% block content %}
<h2>Selling Form</h2>
<div class='row' style='padding-bottom: 80px;'>
</div>
<div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-6'>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ form.errors }}</strong>
            </div>
        {% endif %}

        <form role="form" method="post" enctype="multipart/form-data" style='border: 2xp;'> 
            {% csrf_token %}
            {{ form.as_p }}
            <button disabled class="btn btn-primary" type=button id="fakeButton" style="display: none"><span class="glyphicon glyphicon-refresh"></span>Submit</button>  
            <button type="submit" class="btn btn-primary" name="realButton" id="btnRealButton">Submit</button>
        </form>
    </div>
    <div class='col-md-3'>
    </div>
</div>
{% endblock %}

<script type="text/javascript">
function checkinput {
    $("#btnRealButton").hide(); <= real submit button will be hidden
    $("#fakeButton").show(); <= fake submit button gets visible}
</script>